<style>
        .button {
          font-size: 1em;
          padding: 10px;
          color: #fff;
          border: 2px solid #06D85F;
          border-radius: 20px/50px;
          text-decoration: none;
          cursor: pointer;
          width:95%;
          transition: all 0.3s ease-out;
        }
        .button:hover {
          background: #06D85F;
        }

        .overlay {
          position: fixed;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: rgba(0, 0, 0, 0.7);
          transition: opacity 500ms;
          visibility: hidden;
          opacity: 0;
        }
        .overlay:target {
          visibility: visible;
          opacity: 1;
        }

        .popup {
          margin: 70px auto;
          padding: 20px;
          background: #fff;
          border-radius: 5px;
          width: 50%;
          position: relative;
          transition: all 5s ease-in-out;
        }

        .popup h2 {
          margin-top: 0;
          color: #333;
          font-family: Tahoma, Arial, sans-serif;
        }
        .popup .close {
          position: absolute;
          top: 20px;
          right: 30px;
          transition: all 200ms;
          font-size: 30px;
          font-weight: bold;
          text-decoration: none;
          color: #333;
        }
        .popup .close:hover {
          color: #06D85F;
        }
        .popup .content {
          max-height: 30%;
          overflow: auto;
        }

        @media screen and (max-width: 700px){
          .box{
            width: 70%;
          }
          .popup{
            width: 70%;
          }
        }

        input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.support {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
  </style>
<div id="support" class="overlay">
          <div class="popup">
            <font color="black"><h2>Dashboard Support</h2>
                <a class="close" href="#">&times;</a>
                  <div>
                <form action="{% url 'email' %}" method="POST">
                    {% csrf_token %}
                    <label for="teamname">Team Name</label>
                    <input type="text" id="teamname" name="teamname" placeholder="teamname">
                    
                    <label for="email">Email Id</label>
                    <input type="text" id="email" name="email" placeholder="email">

                    <label for="msg">Message</label>
                    <input type="text" id="msg" name="msg" placeholder="msg">
                
                    <input type="submit" value="Submit">
                </form>
                </div>
              </font>
           </a>
      </div>
</div>