 {% extends 'base.html' %}
 {% block content %}
 <div class="container">
        <br>
        <div class="row">
            <div class="emboss card">
                <div class="content">
                  <h2>BVPIEEE</h2>
                  <h3>Who are we?</h3>
                  <p>BVPIEEE is the student branch of IEEE at Bharati Vidyapeeth’s College of Engineering,
                     since its inception has aimed at promoting IEEE among students,
                    as a common platform to share their technical expertise and to learn and grow in the process.
                   </p>
                    <div class="read_more">
                       <a href="https://bvpieeend.com/">Read More</a>
                    </div>
                </div>
            </div>

            <div class="emboss card">
                <div class="content">
                  <h2>WIEHACK 2.0</h2>
                  <h3>Legacy</h3>
                  <p>To take the idea of women empowerment forward and reward their endeavors
                     in technical fields, BVPIEEE, brings to you WIEHack 2.0, the second edition
                    of an all-women hackathon held last year. It is a 36-hour virtual hackathon.
                   </p>
                    <div class="read_more">
                       <a href="https://wiehack.bvpieeend.com/">Read More</a>
                    </div>
                </div>
            </div>
        </div>
         <div class="row">
            <div class="emboss card">
                <div class="content">
                  <h2>THEMES</h2>
                  <ul>
                    <li>HealthCare</li>
                    <li>Blockchain</li>
                    <li>AR/VR</li>
                    <li>FinTech</li>
                    <li>Women Security</li>
                    <li>Smart Cities</li>
                    <li>Artificial Intelligence</li>
                  </ul>
                </div>
            </div>

            <div class="emboss card">
                <div class="content">
                  <h2>General Instructions</h2>
                  <p>The hackathon will be conducted in Four phases.
                    Throughout the competition, the participants will be judged
                    based on a variety of parameters like their problem-solving
                    skills, thinking capability, logic and presentation skills.
                   </p>
                    <div class="read_more">
                       <a href="https://wiehack.bvpieeend.com/rulebook.pdf">Read More</a>
                    </div>
                </div>
            </div>
        </div>
     </div>
{% endblock %}