{% extends 'base.html'%}
{% load static %}
{% block content %}
     <div class="container">
        <br>
        <div class="row">
            <div class="column">
                <iframe class="stream emboss"  width="700" src="{{ form.link }}?rel=0;controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
             <div class="column">
                 <iframe class="stream emboss left" width="400" src="https://www.youtube.com/live_chat?v=mZEh0yc5b7U&amp;embed_domain=127.0.0.1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

             </div>
        </div>
     </div>

            <div style="margin-left:90px">
                <div class="content">
                  <font face ="Comic sans MS" ><h1>Round : {{round}} </h1><h2> Happy Hacking !!!</h2></font>
                </div>
{% endblock %}