{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	 <link rel="stylesheet" href="{% static 'css/general_ins.css' %}">

<h1>General instruction for Wie-Hack 2.0</h1>

</head>



<body>
 

 <section id="section1">
 	
	<div>
	
	 <ul>
  <li>It is a 36-hour online hackathon.</li>
  <li>There will be a total of 6 rounds and submission at every stage is compulsory to proceed in the competition</li>
  <li>Mentoring Sessions and workshops are compulsory for the participants to attend as they describe what is to be done in a particular round.
</li>
<li>There will be a live chat option, where the participants may ask their queries or doubts.</li>
<li>In case you face difficulty during submission or while watching the Livestream, contact the technical team immediately.</li>
<li>You must have a stable internet connection during the entire length of the hackathon to ensure uninterrupted streaming
</li>
<li>Participants are expected to maintain the code of conduct.</li>
<li>At any time if the participants are found disobeying any of the rules of the competition, they will be disqualified from the hackathon.	</li>

</ul> 

</div>



</section>



</body>


</html>