{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	 <link rel="stylesheet" href="{% static 'css/themes.css' %}">



</head>



<body>
	<div class="themes">

			<h1 class="section-heading">Themes for WIE-Hack2.0<h1>
			
	
			<div class="themes-container">
				<!-- <div class="theme">
					<img class="theme-image" src="https://mpng.subpng.com/20191220/agc/transparent-blockchain-icon-shield-icon-encrypted-icon-5dfcabaa7eed29.9061916815768401065199.jpg" />
					<h4 class="theme-heading">BlockChain</h4>
					<p class="theme-text">Heard about bitcoins ,</p>
				</div> -->
				
				 <div class="flip-box">
				  <div class="flip-box-inner">
				    <div class="flip-box-front">
				      <img class="theme-image" src="https://image.flaticon.com/icons/svg/1349/1349937.svg" style="filter: invert(100%) sepia(4%) saturate(7484%) hue-rotate(348deg) brightness(98%) contrast(104%);"/>
				      <h3>Blockchain</h3>
				    </div>
				    <div class="flip-box-back">
				  
				      <p style="font-size:18px">Heard about Bitcoins? We can say Blockchain is the backbone of this cryptocurrency. With the advent of Smart Contracts and Turing-complete frameworks, it's time to join the revolution of WEB 3.0.</p>
				    </div>
				  </div>
				</div> 


				 <div class="flip-box">
				  <div class="flip-box-inner">
				    <div class="flip-box-front">
				      <img class="theme-image" src="https://cdn1.iconfinder.com/data/icons/virtual-reality-and-new-technologies/2000/head-512.png" />
				      <h3>AR/VR</h3>
				    </div>
				    <div class="flip-box-back">
				      
				      <p style="font-size:18px">For advanced experiences, engage yourself with Real Industry 4.0 Application. Every sector is soon going to be impacted by the rise of VR/AR.</p>
				    </div>
				  </div>
				</div> 

				<div class="flip-box">
				  <div class="flip-box-inner">
				    <div class="flip-box-front">
				      <img class="theme-image" src="https://image.flaticon.com/icons/svg/1907/1907649.svg" />
				      <h3>FinTech</h3>
				    </div>
				    <div class="flip-box-back">
				      
				      <p style="font-size:18px">This industry is currently the second biggest for disruption, after health care. A wave of digital disruption technology is starting to reshape this sector.</p>
				    </div>
				  </div>
				</div> 

				<div class="flip-box">
				  <div class="flip-box-inner">
				    <div class="flip-box-front">
				     <img class="theme-image" src="https://image.flaticon.com/icons/svg/1511/1511110.svg" />
					<h3>Women Security</h3>
				    </div>
				    <div class="flip-box-back">
				      
				      <p style="font-size:18px">With the rise of crimes like mugging,  burglary,  robbery, and harassment, today’s women are more susceptible to a perilous environment. Delineate a solution to deal with it innovatively.</p>
				    </div>
				  </div>
				</div> 

				<div class="flip-box">
				  <div class="flip-box-inner">
				    <div class="flip-box-front">
				    	<img class="theme-image" src="https://image.flaticon.com/icons/svg/993/993928.svg" />
					<h3>Smart Cities</h3>
				    </div>
				    <div class="flip-box-back">
				      
				      <p style="font-size:18px">A more efficient and planned city makes living more advanced. Build unique, feasible and innovative solutions to contain large eco growth and improve the quality of citizens. </p>
				    </div>
				  </div>
				</div> 


				<div class="flip-box">
				  <div class="flip-box-inner">
				    <div class="flip-box-front">
				    	<img class="theme-image" src="https://image.flaticon.com/icons/svg/426/426196.svg" />
					<h3>AI</h3>
				    </div>
				    <div class="flip-box-back">
				      
				      <p style="font-size:18px">AI is for the tech-savvy that brings smart machines to perform tasks with human intelligence. Bring awesome AI-based ideas for modern problems.</p>
				    </div>
				  </div>
				</div> 


				<div class="flip-box">
				  <div class="flip-box-inner">
				    <div class="flip-box-front">
				    	<img class="theme-image" src="https://image.flaticon.com/icons/svg/2741/2741111.svg" />
					<h3>healthcare</h3>
				    </div>
				    <div class="flip-box-back">
				    
				      <p style="font-size:18px">Health care is the maintenance or improvement of health via the prevention, diagnosis, treatment, recovery, etc. It is delivered by health professionals in allied health fields. Engage yourself in building some very powerful solutions related to current COVID-19 pandemic challenges.</p>
				    </div>
				  </div>
				</div> 



			</div>
		</div>













</body>

</html>