{% extends 'base.html' %}
{% load static%}
{% block content %}
<style>
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
body{
    max-height: 50%;
}
h1{
    font-family: "PT Sans", serif;
    font-size: 80px;
    font-weight: 100;
    color: #ecf0f1;
    letter-spacing: 2px;
    margin: 0 0 40px 0;
}
p, li, a, .med__button {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    color: #ecf0f1;
    text-decoration: none;

}
.hero {
    position: relative;
    padding: 0px 10%;
    display: flex;
    flex-direction: column;
    background-color: rgba(5, 6, 32, 0.6);
    overflow: hidden;
}
.hero:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -10;
    background-image: url(images/iceland.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(10px);
    transform: scale(1.2);
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.logo {
    cursor: pointer;
}

.nav__links {
    list-style-type: none;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.nav__links li {
    display: inline-block;
    padding: 0 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #e74d71;
}

.med__button {
    width: 111px;
    height: 36px;
    background-color: transparent;
    border: 1px solid #ecf0f1;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.med__button:hover {
    border: 1px solid #e74d71;
    background-color: #e74d71;
}

.hero__content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    margin-top: 200px;
}

.hero__text {
    grid-column-start: span 6;
    margin-right: 40px;
    margin-bottom: 28em;
}

.hero__subtitle {
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 0 15px 0;
}
.hero__video {
    grid-column-start: span 6;
    margin-bottom: 20em;

}

.hero__video img {
    border-radius: 5px;
}
.play__section {
    display: flex;
    align-items: center;
}

.play__button {
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    background: rgba(228, 55, 95, 1);
    border-radius: 50%;
    animation: pulse 2s infinite;
    cursor: pointer;
}

.play__button img {
    width: 13px;
}
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(228, 55, 95, 0.7);
    }
    100% {
        box-shadow: 0 0 0 15px rgba(228, 55, 95, 0);
    }
}

@media screen and (max-width: 1200px) {
    .hero__content {
        margin-top: 100px;
    }
    .hero__text, .hero__video {
        grid-column-start: span 12;
    }
    .hero__text, .hero__video {
        margin-bottom: 60px;
    }
}
</style>


<div class="hero">
    <section class="hero__content">
        <div class="hero__text">
            <p class="hero__subtitle">National Level . All Women . Virtual Hackathon</p>
            <h1>WIE <br>
                HACK 2.0
            </h1>
            <div class="play__section" href="{% url 'dashboard' %}">
                <a href="{% url 'dashboard' %}"><div id="play" class="play__button">
                </div></a>
                <p>Submit</p>
            </div>
        </div>
        <div class="hero__video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/NqFUPJGQTd0?start=1800" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </section>
</div>
{% endblock %}
