body{
  margin: 0;
  padding: 0;
  display: flex;
  text-decoration:none;
  font-family: 'montserrat', sans-serif;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(#20002c, #cbb4d4);
  list-style: none;
}

:root
{
    --background : #131419;
    --shadow-color-1 : rgba(255, 255, 255, 0.05);
    --shadow-color-2 : rgba(0, 0, 0, 0.5);
}

h1 {
  
  color: white;
  text-align: right;
  vertical-align: top;
}
#section1
{
    background-color: var(--background);

    /* font-size: 16px; */
}
div {
  width: 1000px;
  padding: 10px;
  border: 7px solid white;
  margin: 0;
  background-color: #3432a8;
}
