:root{
    font-size: 16px;
    font-family: 'Open-sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
  }
  body{
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
    text-decoration: none;
  
  }
  body::-webkit-scrollbar{
    width: 0.25rem;
  
  }
  body::-webkit-scrollbar-track{
    background: #1e1e24;
  }
  body::-webkit-scrollbar-thumb{
    background: #6649b8;
  }
  main{
    margin-left: 5rem;
    padding: 1rem;
  }
  .navbar{
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 200ms ease;
  }
  .navbar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  .nav-item{
    width: 100%;
  }
  .nav-item:last-child{
    margin-top: auto;
  }
  .nav-link{
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
  }
  .nav-link:hover{
    filter: grayscale(0%) opacity(1);
    background: var(--bg--secondary);
    color: var(--text-secondary);
  }
  .link-text{
    display: none;
    margin-left: 1rem;
  }
  .nav-link i{
    min-width: 2rem;
    margin: 0 1.5rem;
  }
  .navbar:hover{
    width: 16rem;
  }
  .navbar:hover .link-text{
    display: block;
  }
  .logo{
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
  }
  .logo i{
    transform: rotate(0deg);
    transition: transform var(--transition-speed);
  }
  
  .navbar:hover .logo i{
    transform: rotate(-180deg);
  }